<app-navigation></app-navigation>
<main class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <h1>{{title}}</h1>
      <hr>
    </div>
    <div class="col"></div>
  </div>
  <section class="row">
    <div class="col">
      <section>
        <h2>Tiedot</h2>
        <button (click)="logout()" *ngIf="authenticated()">logout</button>
        <h3>Onko kirjautunut: {{authenticated()}}</h3>
      </section>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
    <div class="col"></div>
  </section>
  
</main>

