<form role="form" (submit)="login()">
    <table >
        <thead>
            <tr>
                <th>Log in</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><label for="username">Username:</label></td>
            </tr>
            <tr>
                <td><input type="text" name="username" [(ngModel)]="credentials.username"></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
            </tr>
            <tr>
                <td><input type="password" name="password" [(ngModel)]="credentials.password"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><input type="submit" value="Login"></td>
            </tr>
        </tfoot>
    </table>
</form>

